global_defs {
  notification_email {
  }
  router_id LVS_DEVEL
  vrrp_skip_check_adv_addr
  vrrp_garp_interval 0
  vrrp_gna_interval 0
}
   
vrrp_script chk_haproxy {
  script "killall -0 haproxy"
  #script "/etc/keepalived/check_apiserver.sh"
  interval 3
  weight -2
  fall 10
  rise 2
}
   
vrrp_instance haproxy-vip {
  state MASTER
  priority 100
  interface {{ ha.netif }}                 # Network card
  virtual_router_id 60
  advert_int 1
  authentication {
    auth_type PASS
    auth_pass 1111
  }
  unicast_src_ip {{ ha.ip }}      # The IP address of this machine
  unicast_peer {
    {{ ha.ip2 }}                   # The IP address of peer machines
  }
   
  virtual_ipaddress {
    {{ ha.vip }}/24                  # The VIP address
  }
   
  track_script {
    chk_haproxy
  }
}

